<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title%></p>
  <a href="/joke">Click for a random joke</a>
    <a href="/jokes">Click for all jokes</a>
    <a href="/addJoke">Click for  new joke</a>
  <h2>Joke count:<%=jokeCount%></h2>
  <h2>Jokes count: <%= jokesCount%></h2>
  <h2>storejokecount: <%=storeJokeCount%></h2>
  </body>
</html>
